<div class="flex flex-col">
   <div class="flex flex-row gap-4 align-middle">
       <mat-form-field>
           <mat-label>Enter a date range</mat-label>
           <mat-date-range-input [min]="'2024-10-14'" [max]="'2024-10-21'" [rangePicker]="picker">
               <input [formControl]="rangeControl.controls.start" matStartDate placeholder="Start date">
               <input [formControl]="rangeControl.controls.end" matEndDate placeholder="End date">
           </mat-date-range-input>
           <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
           <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-date-range-picker #picker></mat-date-range-picker>
       </mat-form-field>
       <button mat-flat-button (click)="addChart()">add chart</button>
   </div>

    <div #chartContainer class="grid grid-cols-2 gap-4 p-4"></div>
</div>
